.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
}


.container-box{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
.nav-bar{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: end;
  align-items: center;
  
}
.login-btn{
    width: 130px;
    height: 40px;
    margin-right: 7% ;
    color: white;


}


.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
  height: 100%;
  }
}
